html,
body {
  text-align: center;
}
@font-face {
  font-family: "Custom";
  src: url(Normfont.ttf);
  font-style: normal;
  font-weight: 100;
}
p {
  font-family: Custom;
  font-weight: 100;
  font-size: medium;
  color: white;
  font-style: bold;
}
